Компанія "Альфа" за рік мала чистий обсяг продажів у розмірі 1 200 000 грн. На початок року дебіторська заборгованість становила 150 000 грн, а на кінець року - 170 000 грн.

- Знайдіть обертаємість дебіторської заборгованості за рік.
- Визначте середній період погашення дебіторської заборгованості.

In [3]:
revenue = 1_200_000
debit_start = 150_000
debit_end = 170_000

In [8]:
debit_avg = (debit_start+debit_end)/2

In [12]:
Accounts_Receivable_Turnover = revenue/debit_avg

In [13]:
365/Accounts_Receivable_Turnover

48.666666666666664

# Задача 2: Аналіз ефективності обертаємості дебіторської заборгованості
Умова:
Компанія "Бета" за попередній рік мала такі показники:

Чистий обсяг продажів: 2 500 000 грн
Дебіторська заборгованість на початок року: 300 000 грн
Дебіторська заборгованість на кінець року: 250 000 грн
Конкурент компанії "Гамма" мав обертаємість дебіторської заборгованості 9,0 разів на рік.

Розрахуйте обертаємість дебіторської заборгованості компанії "Бета".
Порівняйте її з конкурентом і зробіть висновок про ефективність управління дебіторською заборгованістю.

In [16]:
revenue = 2_500_000
debit_start = 300_000
debit_end = 250_000

In [21]:
debit_avg = (debit_start+debit_end)/2
ART = revenue/debit_avg
ART

9.090909090909092

In [18]:
debit_avg

275000.0

```Давайте розглянемо більш складну задачу, яка включатиме декілька фінансових показників і аналіз ефективності обертаємості дебіторської заборгованості в динаміці, а також порівняння з галузевими стандартами.

Складна задача з обертаємістю дебіторської заборгованості
Умова:
Компанія "Дельта" займається виробництвом і продажем електроніки. Протягом останніх трьох років її фінансові показники мають такі значення:

Рік	Чистий обсяг продажів (грн)	Дебіторська заборгованість на початок року (грн)	Дебіторська заборгованість на кінець року (грн)
Рік 1	4 000 000	500 000	600 000
Рік 2	4 500 000	600 000	650 000
Рік 3	5 000 000	650 000	700 000
Галузевий стандарт обертаємості дебіторської заборгованості – 10 разів на рік.

Розрахуйте обертаємість дебіторської заборгованості для кожного року компанії "Дельта".
Визначте середній період погашення дебіторської заборгованості (у днях) для кожного року.
Проаналізуйте динаміку обертаємості дебіторської заборгованості компанії та порівняйте з галузевим стандартом. Вкажіть, чи є тенденція до покращення або погіршення.
Визначте, які кроки можна зробити для підвищення обертаємості дебіторської заборгованості.```

In [23]:
import pandas as pd

In [39]:
df = pd.DataFrame({
'years': [1,2,3], 
'sales':[4_000_000, 4_500_000, 5_000_000],
'debit_start':[500_000, 600_000, 650_000],
'debit_finish':[600_000, 650_000, 700_000]
})

In [37]:
for x in dfs:
    print(x)

years
sales
debit_start
debit_finish

In [42]:
df['ART'] = df['sales']/((df['debit_start']+df['debit_finish'])/2)
df

   years    sales  debit_start  debit_finish       ART
0      1  4000000       500000        600000  7.272727
1      2  4500000       600000        650000  7.200000
2      3  5000000       650000        700000  7.407407

In [43]:
df['ART in days'] = 365/df['ART']
df

   years    sales  debit_start  debit_finish       ART  ART in days
0      1  4000000       500000        600000  7.272727    50.187500
1      2  4500000       600000        650000  7.200000    50.694444
2      3  5000000       650000        700000  7.407407    49.275000