Компанія "Альфа" за рік мала чистий обсяг продажів у розмірі 1 200 000 грн. На початок року дебіторська заборгованість становила 150 000 грн, а на кінець року - 170 000 грн.

- Знайдіть обертаємість дебіторської заборгованості за рік.
- Визначте середній період погашення дебіторської заборгованості.

In [12]:
revenue = 1_200_000
debit_start = 150_000
debit_end = 170_000

In [13]:
debit_avg = (debit_start+debit_end)/2

In [14]:
Accounts_Receivable_Turnover = revenue/debit_avg

In [15]:
365/Accounts_Receivable_Turnover

48.666666666666664

# Задача 2: Аналіз ефективності обертаємості дебіторської заборгованості
Умова:
Компанія "Бета" за попередній рік мала такі показники:

Чистий обсяг продажів: 2 500 000 грн
Дебіторська заборгованість на початок року: 300 000 грн
Дебіторська заборгованість на кінець року: 250 000 грн
Конкурент компанії "Гамма" мав обертаємість дебіторської заборгованості 9,0 разів на рік.

Розрахуйте обертаємість дебіторської заборгованості компанії "Бета".
Порівняйте її з конкурентом і зробіть висновок про ефективність управління дебіторською заборгованістю.

In [16]:
revenue = 2_500_000
debit_start = 300_000
debit_end = 250_000

In [17]:
debit_avg = (debit_start+debit_end)/2
ART = revenue/debit_avg
ART

9.090909090909092

In [18]:
debit_avg

275000.0

In [19]:
import pandas as pd

```Давайте розглянемо більш складну задачу, яка включатиме декілька фінансових показників і аналіз ефективності обертаємості дебіторської заборгованості в динаміці, а також порівняння з галузевими стандартами.

Складна задача з обертаємістю дебіторської заборгованості
Умова:
Компанія "Дельта" займається виробництвом і продажем електроніки. Протягом останніх трьох років її фінансові показники мають такі значення:

Рік	Чистий обсяг продажів (грн)	Дебіторська заборгованість на початок року (грн)	Дебіторська заборгованість на кінець року (грн)
Рік 1	4 000 000	500 000	600 000
Рік 2	4 500 000	600 000	650 000
Рік 3	5 000 000	650 000	700 000
Галузевий стандарт обертаємості дебіторської заборгованості – 10 разів на рік.

Розрахуйте обертаємість дебіторської заборгованості для кожного року компанії "Дельта".
Визначте середній період погашення дебіторської заборгованості (у днях) для кожного року.
Проаналізуйте динаміку обертаємості дебіторської заборгованості компанії та порівняйте з галузевим стандартом. Вкажіть, чи є тенденція до покращення або погіршення.
Визначте, які кроки можна зробити для підвищення обертаємості дебіторської заборгованості.```

In [20]:
df = pd.DataFrame({
'years': [1,2,3], 
'sales':[4_000_000, 4_500_000, 5_000_000],
'debit_start':[500_000, 600_000, 650_000],
'debit_finish':[600_000, 650_000, 700_000]
})

In [ ]:
df['ART'] = df['sales']/((df['debit_start']+df['debit_finish'])/2)
df

In [ ]:
df['ART in days'] = 365/df['ART']
df

```Давайте розглянемо більш складну задачу, яка включатиме декілька фінансових показників і аналіз ефективності обертаємості дебіторської заборгованості в динаміці, а також порівняння з галузевими стандартами.

Складна задача з обертаємістю дебіторської заборгованості
Умова:
Компанія "Дельта" займається виробництвом і продажем електроніки. Протягом останніх трьох років її фінансові показники мають такі значення:

Рік	Чистий обсяг продажів (грн)	Дебіторська заборгованість на початок року (грн)	Дебіторська заборгованість на кінець року (грн)
Рік 1	4 000 000	500 000	600 000
Рік 2	4 500 000	600 000	650 000
Рік 3	5 000 000	650 000	700 000
Галузевий стандарт обертаємості дебіторської заборгованості – 10 разів на рік.

Розрахуйте обертаємість дебіторської заборгованості для кожного року компанії "Дельта".
Визначте середній період погашення дебіторської заборгованості (у днях) для кожного року.
Проаналізуйте динаміку обертаємості дебіторської заборгованості компанії та порівняйте з галузевим стандартом. Вкажіть, чи є тенденція до покращення або погіршення.
Визначте, які кроки можна зробити для підвищення обертаємості дебіторської заборгованості.```

In [ ]:
import pandas as pd

In [24]:
data = pd.DataFrame({
    'years': [1,2,3],
    'revenue': [4_000_000, 4_500_000, 5_000_000],
    'debit_start': [500_000, 600_000, 650_000],
    'debit_end': [600_000, 650_000, 700_000]
})

In [25]:
data['debit_avg'] = round(data['revenue']/((data['debit_start']+data['debit_end'])/2),2)

In [26]:
data

   years  revenue  debit_start  debit_end  debit_avg
0      1  4000000       500000     600000       7.27
1      2  4500000       600000     650000       7.20
2      3  5000000       650000     700000       7.41

In [27]:
data['debit_liquide_days'] = round(365/data['debit_avg'],1)

In [28]:
data

   years  revenue  debit_start  debit_end  debit_avg  debit_liquide_days
0      1  4000000       500000     600000       7.27                50.2
1      2  4500000       600000     650000       7.20                50.7
2      3  5000000       650000     700000       7.41                49.3

### Задача: Обертаємість запасів  

Компанія "Альфа" займається виробництвом меблів. Її фінансові показники за останні три роки мають такі значення:  

| **Рік** | **Собівартість реалізованої продукції (грн)** | **Запаси на початок року (грн)** | **Запаси на кінець року (грн)** |  
|---------|--------------------------------------------|----------------------------------|--------------------------------|  
| Рік 1   | 3 200 000                                  | 400 000                          | 500 000                        |  
| Рік 2   | 3 600 000                                  | 500 000                          | 550 000                        |  
| Рік 3   | 4 000 000                                  | 550 000                          | 600 000                        |  

Галузевий стандарт обертаємості запасів – 8 разів на рік.  

### Завдання:  
1. **Розрахуйте обертаємість запасів (ОЗ) для кожного року компанії "Альфа".**  
   Формула:  
   \$ ОЗ = \frac{\text{Собівартість реалізованої продукції}}{\text{Середні запаси}} $  

2. **Визначте середній період обороту запасів (у днях) для кожного року.**  
   Формула:  
   \$СПО = \frac{365}{ОЗ}$  

3. **Проаналізуйте динаміку обертаємості запасів компанії та порівняйте з галузевим стандартом.**  

4. **Запропонуйте кроки для підвищення обертаємості запасів.**  

---  
Якщо потрібно, я можу одразу розв'язати цю задачу! 😊

In [29]:
data = pd.DataFrame({
    'year': [2023,2024,2025],
    'COGS': [3_200_000, 3_600_000, 4_000_000],
    'warehouse_start': [400_000, 500_000, 550_000],
    'warehouse_end': [500_000, 550_000, 600_000]
})

In [30]:
data

   year     COGS  warehouse_start  warehouse_end
0  2023  3200000           400000         500000
1  2024  3600000           500000         550000
2  2025  4000000           550000         600000

In [31]:
data['inventory_turover'] = round(data['COGS']/((data['warehouse_start']+data['warehouse_end'])/2),2)
data

   year     COGS  warehouse_start  warehouse_end  inventory_turover
0  2023  3200000           400000         500000               7.11
1  2024  3600000           500000         550000               6.86
2  2025  4000000           550000         600000               6.96

In [32]:
data['inventory_turover_in_days'] = round(365/data['inventory_turover'],1)
data

,year,COGS,warehouse_start,warehouse_end,inventory_turover,inventory_turover_in_days
0,2023,3200000,400000,500000,7.11,51.3
1,2024,3600000,500000,550000,6.86,53.2
2,2025,4000000,550000,600000,6.96,52.4